<!DOCTYPE html>
<html>
<head>
  <title>Blug</title>
  <%= stylesheet_link_tag    "blug/application", media: "all" %>
  <%= javascript_include_tag "blug/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
